<div class="navbar-inner">
  <div class="container">
    <%= link_to "Kiv7", root_path, :class => "brand" %>
    <%= render :partial => 'root/layouts/locale' %>
    
    <ul class="nav">
      <li>
        <%= link_to t('root.layouts.namespace.lists'), lists_path %>
      </li>
      <li>
        <%= link_to "Admin", admin_stats_path %>
      </li>
    </ul>
    <ul class="nav pull-right">
      <li>
        <%= link_to t('root.layouts.namespace.logout', :username => warden.user.username), sessions_path, :method => :delete %>
      </li>
    </ul>
  </div>
</div>