<!DOCTYPE html>
<html>
<head>
  <title>Kiv7</title>
  <%= stylesheet_link_tag    "application", "root", :media => "all" %>
  <%= javascript_include_tag "application", "root" %>
  
  <%= csrf_meta_tags %>
  
  <meta name="locale" content="<%= I18n.locale %>" />
</head>

<body>
  <div id="navbar" class="navbar navbar-fixed-top">
    <% if warden.authenticated? %>
      <% if warden.user.admin? %>
        <%= render :partial => 'root/layouts/admin_nav' %>
      <% else %>
        <%= render :partial => 'root/layouts/user_nav' %>
      <% end %>
    <% else %>
      <%= render :partial => 'root/layouts/guest_nav' %>
    <% end %>
  </div>
  
  <div id="content" class="container">
    <% if flash.any? %>
      <% flash.each do |type, message| %>
        <%= content_tag :div, :class => ["alert", "alert-#{type}"] do%>
          <a class="close" data-dismiss="alert">×</a>
          <strong><%= message %></strong>
        <% end %>
      <% end %>
    <% end %>
    
    <%= yield %>
    
    <footer class="footer">
      <%= link_to t('root.layouts.namespace.footer_title'), root_path, :class => "pull-right" %>
      
      <%= m t 'root.layouts.namespace.footer_blurb' %>
    </footer>
  </div>
  
  <%= render :partial => 'root/layouts/modal' %>
  
  <script type="text/javascript">
    $(function() {
      <%= yield :bindings %>
    });
  </script>
</body>
</html>
