<!DOCTYPE html>
<html>
<head>
  <title>Kiv7</title>
  <%= stylesheet_link_tag    "application", "root", :media => "all" %>
  <%= javascript_include_tag "application", "api", "root" %>
  
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="navbar" class="navbar navbar-fixed-top">
    <% if warden.authenticated? %>
      <% if warden.user.admin? %>
        <%= render :partial => 'root/layouts/admin_nav' %>
      <% else %>
        <%= render :partial => 'root/layouts/user_nav' %>
      <% end %>
    <% else %>
      <%= render :partial => 'root/layouts/guest_nav' %>
    <% end %>
  </div>
  
  <div id="content" class="container">
    <% if flash.any? %>
      <% flash.each do |type, message| %>
        <%= content_tag :div, :class => ["alert", "alert-#{type}"] do%>
          <a class="close" data-dismiss="alert">×</a>
          <strong><%= message %></strong>
        <% end %>
      <% end %>
    <% end %>
    
    <%= yield %>
    
    <div id="modals">
      <div id="modal-error" class="modal" style="display: none;">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3 data-bind="text: modal.header"></h3>
        </div>
        <div class="modal-body">
          <ul data-bind="foreach: modal.body">
            <li data-bind="text: $data"></li>
          </ul>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
    
    <footer class="footer">
      <%= link_to "Kiv7 - The Simple Task List", root_path, :class => "pull-right" %>
      <p>Built by
        <a href="http://www.robertsosinski.com" target="_blank">Robert Sosinski</a> using 
        <a href="http://rubyonrails.org/">Ruby on Rails</a>, 
        <a href="http://jquery.com/">jQuery</a>,
        <a href="http://knockoutjs.com/">Knockout</a>, 
        <a href="http://documentcloud.github.com/underscore/">Underscore</a>,
        <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>,
        <a href="http://www.modrails.com/">Passenger</a> and
        <a href="http://postgresql.org/">Postgres</a>.
      </p>
      <p>All code is open sourced using an <a href="http://github.com/robertsosinski/kiv7/blob/master/LICENSE">MIT license</a> and can be found on <a href="http://github.com/robertsosinski/kiv7">GitHub</a>.</p>
      <p><strong>NOTICE:</strong> This website is a technology demo, any data you put into this application can be lost at any time.</p>
    </footer>
  </div>
</body>
</html>
