<div class="page-header no-border">
  <div class="hero-unit">
    <h1><%= t '.header' %></h1>

    <%= t '.body_markdown' %>

    <br />
    
    <p>
      <%= link_to t('root.layouts.namespace.signup'), new_users_path, :class => "btn btn-primary btn-large" %>
      <span class="welcome-or"><%= t 'root.word.or' %></span>
      <%= link_to t('root.layouts.namespace.login'), new_sessions_path, :class => "btn btn-large" %>
    </p>
  </div>
</div>
